*{
    margin: 0;
    padding: 0;

}
.container{
    width: 50%;
    background-color: coral;
}
h1{
    color: cornsilk;
    padding: 10px;
  
}
.fa-plus{
    float: right;
}
.input{
    font-size: 25px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 2px solid #fff;
    background-color: #f7f7f7;
}
ul{
    padding: 10px;
    display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-color: coral;
}
li {
  list-style: none;
    background-color: #e74c3c;
    padding: 10px;
    color: #fff;
    display: none;
    margin-right: 10px;
  }
  .delete {
    display: none;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 1%;
    height: 100%;
    width: 10%;
    padding-top: 2.5%;
  }
  .delete:hover {
    cursor: pointer;
  }
  .doneBtn {
    display: inline-block;
    font-size: 1.2rem;
    background-color: rgb(6, 233, 6);
    color: white;
    text-align: center;
    height: 100%;
    width: 10%;
    padding-top: 2.5%;
    align-self: flex-start;
    pointer-events: none;
  }
  .doneBtn:hover {
    cursor: pointer;
  }
  
  li:hover .delete {
    display: inline-block;
  }
  .done {
    text-decoration: line-through;
  }
  .deleteBtn {
    pointer-events: none;
  }