*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    border: 1px solid blue;
    display: inline-block;
    margin: auto;
}
.app{
    min-height: 100vh;
    width: 100vw;
    display: flex;
}
.card img{
    width: 100px;
    min-height: 100px;
}